<div class="form">
  <%= form_with(model: @task, local: true) do |form| %>

    <div class="title form-group">
      <%= form.label :title, "タイトル" %>
      <%= form.text_field :title %>
    </div>


    <div class="content form-group">
      <%= form.label :content, "内容" %>
      <%= form.text_area :content %>
    </div>

    <div class="time form-group">
      <%= form.label :start_time, "開始日" %>
      <%= form.date_select :start_time, value: @task.start_time%>
    </div>
    <div class="time form-group">
      <%= form.label :end_time, "終了日" %>
      <%= form.date_select :end_time, value: @task.end_time%>
    </div>
    <div class="importance form-group">
      <%= form.label :importance, "重要性" %>
      <%= form.radio_button :importance, :"3" %>
      <%= form.label :importance, "高"%>
      <%= form.radio_button :importance, :"2" %>
      <%= form.label :importance, "中"%>
      <%= form.radio_button :importance, :"1" %>
      <%= form.label :importance, "低"%>
    </div>

    <div class="urgency form-group">
      <%= form.label :urgency, "緊急性" %>
      <%= form.radio_button :urgency, :"3" %>
      <%= form.label :urgency, :高 %>
      <%= form.radio_button :urgency, :"2" %>
      <%= form.label :urgency, :中 %>
      <%= form.radio_button :urgency, :"1" %>
      <%= form.label :urgency, :低 %>
    </div>
    <div class="share_with_friends form-group">
      <%= form.label :"友達と共有する" %>
      <input type="checkbox" name="friends_check">
    </div>
    <div class="friends" style="display:none;">
        <%= form.label :friend, :"友達" %>
        <%= form.collection_select :friend, Friend.friends_list(current_user), :id, :name, :include_blank => true %>
    </div>
    <%= form.hidden_field :user_id, :value => current_user.id %>

    <div class="submit">
      <%= form.submit %>
    </div>

  <% end %>
</div>
<script>
  $('input[name="friends_check"]').change(() => {

    if($('input[name="friends_check"]').prop('checked')){
      $(".friends").show();
    }else{
      $(".friends").hide();

    }

  });
</script>
